html {
    font-size: 10px
}
body {
    margin: 0;
    font-family: Poppins, sans-serif;
    font-size: 1.6rem;
    color: #000000;
    fill: #000000;
    background: #e9e8e3
}
a {
    color: inherit;
    text-decoration: none;
    transition: opacity .25s;
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s
}
a:focus,
a:hover {
    opacity: .9
}
svg {
    width: 3.5rem;
    height: 3.5rem;
    fill: inherit
}
.container {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box
}
.container,
.headline {
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    justify-content: center
}
.headline {
    -ms-flex: 1;
    flex: 1;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    -ms-flex-pack: center;
    max-width: 70vw
}
.headline>h1 {
    text-align: center;
    font-weight: 800;
    font-size: 8rem;
    line-height: 10rem;
    margin: 0;
    margin-bottom: 2rem
}
.headline>h1>small {
    font-size: 10%;
    display: inline-block;
    color: #eb3552;
    line-height: -27px;
    top: -.45rem;
    left: -1.4rem;
    position: relative
}
.headline>h2 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 3.25rem;
    margin: 0
}
.headline a {
    border-bottom: 1px solid;
    line-height: 1;
    display: inline-block
}
.header {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}
.logo>svg {
    width: 11rem;
    height: auto
}
.social {
    -ms-flex: 1;
    flex: 1;
    text-align: right
}
.social>a {
    text-decoration: none;
    margin: 0 .75rem
}
@media only screen and (max-width: 736px) {
    html {
        font-size: 8px
    }
}
@media only screen and (max-height: 736px) {
    html {
        font-size: 8px
    }
}
@media only screen and (max-width: 320px) {
    html {
        font-size: 6px
    }
}
@media only screen and (max-height: 320px) {
    html {
        font-size: 6px
    }
  }
